@import './colors.scss';

$main-color: $orange;
$side-color: $black;
$inactive-color: $gray;
$background-color: $white;
$correct: $green;
$uncorrect: $red;

$danger-color: $red;
$success-color: $green;
$primary-color: $blue;
$light-primary-color: #4CBDFC;

$block-border-radius: 2px;
$small-padding: 5px;
$small-margin: 5px;
